<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <meta name="author" content="A1andNS">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <title>A1Box-更新日志</title>
</head>
<body>
<div class="document-log">
<nav>
    <ul class="top">
      <li><a href="/">主页</a></li>
      <li><a href="/log">更新日志</a></li>
      <li><a href="ftp://ftp.a1andns.com">FTP服务器</a></li>
      <li style="float:right"><a class="active" href="/about">关于</a></li>
    </ul>
</nav>
<main>
    <div class="inner">
        <h1 class="text">更新日志</h1>
        <div class="border"></div>
            <h1 class="text-log">V0.2beta</h1><p>2021-06-15</p></br>
            <p style="font-size: 18px">1.UI大升级，使用全新UI，重构前端页面，更加美观</p>
            <p style="font-size: 18px">2.适配移动端，移动访问体验升级</p>
            <p style="font-size: 18px">3.新增URL编解码功能</p>
            <p style="font-size: 18px">4.新增图片转base64功能</p>
            <p style="font-size: 18px">5.新增疫情情况功能</p>
            <p style="font-size: 18px">6.新增随机数生成功能</p>
            <p style="font-size: 18px">7.改善一些问题</p>
            </br>
            <h1 class="text-log">V0.1.2beta</h1><p>2021-05-20</p></br>
            <p style="font-size: 18px">1.新增了二维码生成功能</p>
            </br>
            <h1 class="text-log">V0.1.1beta</h1><p>2021-04-10</p></br>
            <p style="font-size: 18px">1.新增了Base85编解码、base16编解码、base32编解码功能</p>
            <p style="font-size: 18px">2.开放更新记录页面</p>
            <p style="font-size: 18px">3.开放在线WEBSHELL检测页面</p>
            </br>
            <h1 class="text-log">V0.1beta</h1><p>2021-03-16</p></br>
            <p style="font-size: 18px">1.A1Box开始测试啦！！！</p>
            <p style="font-size: 18px">2.新增base64编解码功能</p>
    </div>
</main>
<footer>
    <p>Copyright © 2021 <a href="https://a1andns.github.io">A1andNS</a></p>
</footer>
</div>
<script src="/static/js/darkmode-js.min.js"></script>
    <script>
      const options = {
      bottom: '64px', // default: '32px'
      right: '32px', // default: '32px'
      left: 'unset', // default: 'unset'
      time: '0.5s', // default: '0.3s'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#fff',  // default: '#fff'
      buttonColorDark: '#100f2c',  // default: '#100f2c'
      buttonColorLight: '#fff', // default: '#fff'
      saveInCookies: false, // default: true,
      label: '🌓', // default: ''
      autoMatchOsTheme: true // default: true
    }

    const darkmode = new Darkmode(options);
    darkmode.showWidget();
    </script>
</body>
</html>