<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <meta name="author" content="A1andNS">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <title>WEBSHELL在线检测结果</title>
</head>
<body>
<div class="document">
<nav>
<ul class="top">
  <li><a href="/">主页</a></li>
  <li><a href="/log">更新日志</a></li>
  <li><a href="ftp://ftp.a1andns.com">FTP服务器</a></li>
  <li style="float:right"><a class="active" href="/about">关于</a></li>
</ul>
</nav>
<main>
    <div class="inner">
        <h1 class="text">WEBSHELL在线检测结果</h1></br>
        <h2>{{ text }}</h2>
        <div class="space-common"></div>
        <table class="table">
            <tr class="row">
                <th class="col-qr">名称</th>
                <th class="col-qr">内容</th>
            </tr>
            <tr class="row">
                <th class="col-qr">MD5</th>
                <th class="col-qr">{{ dc['md5'] }}</th>
            </tr>
            <tr class="row">
                <th class="col-qr">文件总数</th>
                <th class="col-qr">{{ dc['total'] }}</th>
            </tr>
            <tr class="row">
                <th class="col-qr">检出个数</th>
                <th class="col-qr">{{ dc['detected'] }}</th>
            </tr>
            <tr class="row">
                <th class="col-qr">扫描状态</th>
                <th class="col-qr">{{ dc['status'] }}</th>
            </tr>
            <tr class="row">
                <th class="col-qr">已扫描文件</th>
                <th class="col-qr">{{ dc['scanned'] }}</th>
            </tr>
            <tr class="row">
                <th class="col-qr">文件相对路径</th>
                <th class="col-qr">{{ data['path'] }}</th>
            </tr>
            <tr class="row">
                <th class="col-qr">检测结果</th>
                <th class="col-qr">{{ data['descr'] }}</th>
            </tr>
            <tr class="row">
                <th class="col-qr">插值点数</th>
                <th class="col-qr">{{ data['lineno'] }}</th>
            </tr>
        </table>
            <div class="space-common"></div>
                <p>目前支持的在线检测源为WEBDIR+</p>
                <a href="https://scanner.baidu.com/#/pages/intro"><img src="../static/img/WEBDIR+.png"></a>
        </div>
</main>
<footer>
    <p>Copyright © 2021 <a href="https://a1andns.github.io">A1andNS</a></p>
</footer>
</div>
<script src="/static/js/darkmode-js.min.js"></script>
    <script>
      const options = {
      bottom: '64px', // default: '32px'
      right: '32px', // default: '32px'
      left: 'unset', // default: 'unset'
      time: '0.5s', // default: '0.3s'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#fff',  // default: '#fff'
      buttonColorDark: '#100f2c',  // default: '#100f2c'
      buttonColorLight: '#fff', // default: '#fff'
      saveInCookies: false, // default: true,
      label: '🌓', // default: ''
      autoMatchOsTheme: true // default: true
    }

    const darkmode = new Darkmode(options);
    darkmode.showWidget();
    </script>
</body>
</html>